In [1]:
import pandas as pd
import datetime as dt

# Review of Python's `datetime` Module

In [2]:
someday = dt.date(2010, 1, 20)
str(someday)

'2010-01-20'

In [3]:
str(dt.datetime(2010, 1, 17, 21, 13, 57))

'2010-01-17 21:13:57'

In [4]:
sometime = dt.datetime(2010, 1, 17, 21, 13, 57)

In [5]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

# the `pandas` `Timestamp` Object

In [6]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015, 03, 31")
pd.Timestamp("1/1/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 08:35:15 PM")

Timestamp('2021-03-08 20:35:15')

In [7]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [8]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

# The  `pandas` `DateTimeIndex` Object

In [9]:
dates = ['2016-01-2', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [10]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [11]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [12]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The `pd.to_datetime()` Method

In [13]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [14]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [15]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [16]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-2-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3         2015-2-31
dtype: object

In [17]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [18]:
pd.to_datetime([1586967215, 1586963615, 1555344815], unit='s')

DatetimeIndex(['2020-04-15 16:13:35', '2020-04-15 15:13:35',
               '2019-04-15 16:13:35'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the `pd.date_range()` method, Part1

In [19]:
times =pd.date_range(start='2016-01-01', end='2016-01-10', freq='D')
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [20]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [21]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [22]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [24]:
pd.date_range(start='2016-01-01', end='2016-01-15', freq='B') #business days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15'],
              dtype='datetime64[ns]', freq='B')

In [25]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W') #weekly, sundays

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [26]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [27]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [28]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [29]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='M') #month end

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [30]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS') # month start

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [31]:
pd.date_range(start='2016-01-01', end='2050-1-1', freq='A') # end day of year

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the `pd.date_range()` Method Part 2

In [32]:
pd.date_range(start='2012-09-09', periods=50, freq='B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [33]:
pd.date_range(start='2012-09-09', periods=50, freq='W')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [34]:
pd.date_range(start='2012-09-09', periods=50, freq='MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [35]:
pd.date_range(start='2012-09-09', periods=50, freq='A')

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the `pd.date_range()` Method Part 3

In [36]:
pd.date_range(end='1999-12-31', periods=40, freq='W-SUN')

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [37]:
pd.date_range(end='1999-12-31', periods=40, freq='W-FRI')

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

# The `.dt()` Accessor

In [38]:
bunch_of_dates = pd.date_range(start='2000-01-1', end='2010-12-31', freq='24D')

In [39]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [40]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [41]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [42]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [43]:
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [44]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [45]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

# Import Financial Data Set with `pandas_datareader` Library

In [46]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

C:\Users\jbind\Anaconda3\envs\pandas_playground\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [47]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'

stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [48]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.42943687e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.43022156e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.41530704e+01],
       ...,
       [8.59800034e+01, 8.52200012e+01, 8.56500015e+01, 8.57099991e+01,
        1.46780000e+07, 8.27977448e+01],
       [8.59300003e+01, 8.55500031e+01, 8.59000015e+01, 8.57200012e+01,
        1.05943000e+07, 8.28074112e+01],
       [8.60500031e+01, 8.55000000e+01, 8.56299973e+01, 8.55400009e+01,
        1.87174000e+07, 8.26335449e+01]])

In [49]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [50]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [51]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting from a `DataFrame` with `DateTimeIndex`

In [52]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'

stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [53]:
stocks.loc['2014-03-04']
stocks.iloc[0]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.429437e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [54]:
stocks.loc['2013-10-01': '2013-10-07']

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  29.043051
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.337111
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.285215
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.302513
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.800877

In [55]:
birthdays = pd.date_range(start='1991-04-12',end='2017-12-31', freq=pd.DateOffset(years=1))

In [56]:
mask = stocks.index.isin(birthdays)
stocks.loc[mask]
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-12  30.490000  30.209999  30.250000  30.320000  37068800.0  23.911137
2011-04-12  25.850000  25.549999  25.830000  25.639999  36920400.0  20.666864
2012-04-12  31.040001  30.420000  30.480000  30.980000  38304000.0  25.651670
2013-04-12  29.020000  28.660000  28.850000  28.790001  62886300.0  24.553804
2016-04-12  54.779999  53.759998  54.369999  54.650002  24944300.0  50.621754
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  62.011013

# `Timestamp`Object Attributes

In [57]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'

stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [58]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [59]:
someday.day

27

In [60]:
someday.year

2011

In [61]:
someday.day_name()

'Tuesday'

In [62]:
someday.is_month_start

False

In [63]:
stocks.insert(0, 'Day of Week', stocks.index.day_name())

In [64]:
stocks.head(3)

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.10,30.590000,30.620001,30.950001,38409100.0,24.294369
2010-01-05,Tuesday,31.10,30.639999,30.850000,30.959999,49749600.0,24.302216
2010-01-06,Wednesday,31.08,30.520000,30.879999,30.770000,58182400.0,24.153070

In [65]:
stocks.insert(1, 'Is Start of Month', stocks.index.is_month_start)

In [66]:
stocks.head(3)

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.10,30.590000,30.620001,30.950001,38409100.0,24.294369
2010-01-05,Tuesday,False,31.10,30.639999,30.850000,30.959999,49749600.0,24.302216
2010-01-06,Wednesday,False,31.08,30.520000,30.879999,30.770000,58182400.0,24.153070

In [67]:
stocks[stocks['Is Start of Month']]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.300581
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.885929
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.996336
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.509659
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.346998
...,...,...,...,...,...,...,...,...
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.022667
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,69.393814
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.070747
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,79.952187
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,81.397026

# the `.truncate()` Method

In [68]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'

stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [69]:
stocks.truncate(before='2011-06-05', after='2012-02-28')

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-06-06  24.250000  23.770000  23.889999  24.010000  54778700.0  19.479870
2011-06-07  24.170000  23.900000  24.090000  24.059999  41112600.0  19.520443
2011-06-08  24.020000  23.860001  23.900000  23.940001  42205000.0  19.423079
2011-06-09  24.040001  23.820000  24.010000  23.959999  42878700.0  19.439304
2011-06-10  24.020000  23.690001  24.020000  23.709999  49327200.0  19.236477
...               ...        ...        ...        ...         ...        ...
2012-02-22  31.680000  31.180000  31.450001  31.270000  49253200.0  25.891792
2012-02-23  31.590000  31.000000  31.200001  31.370001  35034700.0  25.974592
2012-02-24  31.500000  31.240000  31.480000  31.480000  35575400.0  26.065668
2012-02-27  31.500000  31.100000  31.240000  31.350000  34568400.0  25.958031
2012-02-28  31.930000  31.379999  31.410000  31.870001  45230600.0  26.388596

[185 rows x 6 columns]

# `pd.DateOffset` Objects

In [70]:
stocks = data.DataReader(name='GOOG', data_source='yahoo', 
                start=dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [71]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07',
               '2020-04-08', '2020-04-09', '2020-04-13', '2020-04-14',
               '2020-04-15', '2020-04-16'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [72]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2020-04-07', '2020-04-08', '2020-04-11', '2020-04-12',
               '2020-04-13', '2020-04-14', '2020-04-18', '2020-04-19',
               '2020-04-20', '2020-04-21'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [73]:
stocks.index - pd.DateOffset(weeks=5)

DatetimeIndex(['2004-07-15', '2004-07-16', '2004-07-19', '2004-07-20',
               '2004-07-21', '2004-07-22', '2004-07-23', '2004-07-26',
               '2004-07-27', '2004-07-28',
               ...
               '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05', '2020-03-09', '2020-03-10',
               '2020-03-11', '2020-03-12'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [74]:
stocks.index - pd.DateOffset(months=5)

DatetimeIndex(['2004-03-19', '2004-03-20', '2004-03-23', '2004-03-24',
               '2004-03-25', '2004-03-26', '2004-03-27', '2004-03-30',
               '2004-03-31', '2004-04-01',
               ...
               '2019-11-02', '2019-11-03', '2019-11-06', '2019-11-07',
               '2019-11-08', '2019-11-09', '2019-11-13', '2019-11-14',
               '2019-11-15', '2019-11-16'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [75]:
stocks.index - pd.DateOffset(years=1)

DatetimeIndex(['2003-08-19', '2003-08-20', '2003-08-23', '2003-08-24',
               '2003-08-25', '2003-08-26', '2003-08-27', '2003-08-30',
               '2003-08-31', '2003-09-01',
               ...
               '2019-04-02', '2019-04-03', '2019-04-06', '2019-04-07',
               '2019-04-08', '2019-04-09', '2019-04-13', '2019-04-14',
               '2019-04-15', '2019-04-16'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [76]:
stocks.index + pd.DateOffset(hours=6)

DatetimeIndex(['2004-08-19 06:00:00', '2004-08-20 06:00:00',
               '2004-08-23 06:00:00', '2004-08-24 06:00:00',
               '2004-08-25 06:00:00', '2004-08-26 06:00:00',
               '2004-08-27 06:00:00', '2004-08-30 06:00:00',
               '2004-08-31 06:00:00', '2004-09-01 06:00:00',
               ...
               '2020-04-02 06:00:00', '2020-04-03 06:00:00',
               '2020-04-06 06:00:00', '2020-04-07 06:00:00',
               '2020-04-08 06:00:00', '2020-04-09 06:00:00',
               '2020-04-13 06:00:00', '2020-04-14 06:00:00',
               '2020-04-15 06:00:00', '2020-04-16 06:00:00'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [77]:
stocks.index - pd.DateOffset(years=6, months=3, days=16)

DatetimeIndex(['1998-05-03', '1998-05-04', '1998-05-07', '1998-05-08',
               '1998-05-09', '1998-05-10', '1998-05-11', '1998-05-14',
               '1998-05-15', '1998-05-16',
               ...
               '2013-12-17', '2013-12-18', '2013-12-21', '2013-12-22',
               '2013-12-23', '2013-12-24', '2013-12-28', '2013-12-29',
               '2013-12-30', '2013-12-31'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

# More fun with `pd.DateOffset` Objects

In [78]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [79]:
stocks = data.DataReader(name='GOOG', data_source='yahoo', 
                start=dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [80]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [81]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [82]:
from pandas.tseries.offsets import *

In [83]:
stocks.index + MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [84]:
stocks.index - MonthEnd()
stocks.index + QuarterEnd()
stocks.index + QuarterBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-12-01',
               ...
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

In [86]:
stocks.index + YearBegin()

DatetimeIndex(['2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=3942, freq=None)

# The `Timedelta` Object

In [93]:
timea = pd.Timestamp('2016-03-31 04:35:16')

In [96]:
timeb = pd.Timestamp('2016-03-20 02:16:49')

In [97]:
timea - timeb

Timedelta('11 days 02:18:27')

In [98]:
type(timea - timeb)

pandas._libs.tslibs.timedeltas.Timedelta

In [101]:
timeb - timea

Timedelta('-12 days +21:41:33')

In [102]:
pd.Timedelta

pandas._libs.tslibs.timedeltas.Timedelta

In [103]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [106]:
pd.Timedelta(days=3, hours=12, minutes=45, weeks=8)

Timedelta('59 days 12:45:00')

In [110]:
pd.Timedelta('59 days 6 hours 12 minutes 50 seconds')

Timedelta('59 days 06:12:50')

# `Timedeltas` in a Dataset

In [117]:
shipping = pd.read_csv('./data/ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [120]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']
shipping.head(3)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [123]:
shipping['twice_as_long'] = shipping['delivery_date'] + shipping['delivery_time']

In [129]:
mask = shipping['delivery_time'] > '2000 days'
shipping[mask]

    order_date delivery_date delivery_time twice_as_long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
10  1992-02-23    1998-12-30     2502 days    2005-11-05
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
32  1990-01-20    1998-07-24     3107 days    2007-01-25
..         ...           ...           ...           ...
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
984 1991-07-25    1999-02-09     2756 days    2006-08-27
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06

[113 rows x 4 columns]

In [133]:
shipping['delivery_time'].min()

Timedelta('8 days 00:00:00')

In [134]:
shipping['delivery_time'].max()

Timedelta('3583 days 00:00:00')